/*  עיצוב כללי של גוף הדף */
body {
    font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.5px;
    background: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

/*  עיצוב כותרת ראשית וקונטיינר ההסבר */
.header {
    margin-bottom: 30px;
    color: #40e0d0;
}

.header h1 {
    font-size: 4em;
    margin: 0;
}

.header p {
    font-size: 1.5em;
    margin-top: 10px;
}

/*  עיצוב קונטיינר הכפתורים */
.errorButton {
    width: 100%;
    flex: wrap;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    width: 80%;
    height: 400px;
    min-height: 200px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    overflow-y: auto;
}

/*  עיצוב רשימת מכשירים */
.DevicesList {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    min-height: 30px;
    padding: 3px 0;
    margin: 5px 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 18px; /* עיגול פינות */
    height: fit-content;
    overflow-y: hidden;
}

.DevicesList h2 {
    color: white;
    margin: 2px 0;
    margin-bottom: 0;
    padding: 2px 0;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.1;
}

/*  עיצוב טבלת הנתונים */
.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.main-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #40e0d0;
    margin-bottom: 15px;
    text-align: center;
}

/*  עיצוב ראש הטבלה */
.data-table thead {
    background: rgba(0, 123, 255, 0.8);
    color: white;
    font-size: 20px;
}

/*  עיצוב כותרות הטבלה */
.data-table th {
    background-color: #31b6a8;
    color: white;
    font-weight: bold;
    padding: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/*  עיצוב תוכן הטבלה */
.data-table td:last-child {
    display: table-cell;
    max-height: 120px;
    overflow-y: auto;
    padding: 20px;
    text-align: center;
    white-space: normal;
}

/*  קביעת יחס רוחב עמודות בטבלה */
.data-table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.data-table th:first-child, .data-table td:first-child {
    width: 25%;
    text-align: center;
    max-width: 100px;
    min-width: 80px;
    white-space: nowrap;
}

.data-table th:last-child, .data-table td:last-child {
    width: 75%;
    text-align: center;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.data-table th, .data-table td {
    padding: 10px;
}

/*  אפקטים על שורות בטבלה */
.data-table tbody tr:hover {
    background: rgba(0, 123, 255, 0.1);
}

.data-table tbody tr:last-child td {
    border-bottom: none;
}

/*  עיצוב כפתור חזרה לדף הבית */
.home-button {
    display: block;
    margin-top: 20px;
}

/*  עיצוב כפתורים כלליים */
.my-button {
    background-color: #31b6a8;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 150px;
    max-width: 190px;
    height: 60px;
    text-align: center;
}

.my-button:hover {
    color: #FFFFFF;
    background-color: #008080;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.my-button:active {
    background-color: #00000;
    transform: scale(0.95);
}

/*  עיצוב טופס ההתחברות */
.login-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 20%;
    margin-top: 20px;
}

/*  עיצוב שדות הטופס */
.login-form input {
    width: 90%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

/*  עיצוב שדה סיסמה עם כפתור הצגת סיסמה */
.password-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    background: white;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    margin-bottom: 10px;
}

#seePassword {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.7);
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: absolute;
    width: 20px;
    right: 0;
}

#seePassword:hover {
    color: black;
}